@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Oxygen:wght@300&family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
    font-family: "Segoe UI", "Roboto", "Oxygen-Sans", "Ubuntu", "Cantarell",
    "Helvetica Neue", sans-serif;
}

p{
    line-height: 1.3em;
}

nav{
    background: #000;
    color: #fff;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: fixed;
    top: 0;
    z-index: 999;
}

.nav-container{
    justify-content: space-between;
    display: flex;
    height: 100%;
    width: 100%; /* take all the space*/
    z-index: 1;
    margin: 0 auto;
    padding: 0 50px;
}

.nav-left{
    justify-content: space-between;
    display: flex;
    height: 100%;
    width: 100%; /* take all the space*/
    z-index: 1;
    margin: 0 auto;
    padding: 0 50px;
}

.nav-menu{
    display: flex;
    list-style-type: none;
    text-align: center;
    justify-content: center;
    align-items: center; /* center vertically*/
    width: 100%;
}

.nav-item{
    height: auto;
}
.nav-item a{
    text-decoration: none; /* nullify the links*/
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem; /*space between*/
    height: 100%;
}

.nav-item a:hover{
    color: blue;
}

.logo {
    display: flex;
    align-items: center;  /* center vertically*/
    font-size: 2rem;
    border: none;
    height: auto;
    padding: 0 1rem 0 1rem;
    width: 100%;
}
.logo a{
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}

.logo img{
    width: 12.5vw;
}










#hero .container {
    padding: 0;
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#hero{
    background-color: #121118;
    color: #fff;
    min-height: 100vh;
}

#hero h1{
    font-size: 7rem;
    text-align: center;
}

#hero h2{
    font-size: 2rem;
    text-align: center;
}

#hero h3{
    font-size: 5rem;
}

#hero p{
        font-size: 2rem;
	line-height: 1.3em;
}

.hero button{
    background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    color: white;
    width: 12.5rem;
    height: 3rem;
    font-size: 1.25rem;
    border: none;
    border-radius: 5px;
}






section{
	background-color: #fff;
	color: #000;
	width: 100%;
}

#why-us{
	    padding: 0 7rem 0 7rem;
}
.blank h1{
	    font-size: 3rem;
}

.blank p{
	font-size: 1.6rem;
	padding-top: 2vw;
	margin-bottom: 4vw;
	line-height: 1.3em;
}

#hero{
	padding: 0 7rem 0 7rem;
}









.what-div {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 2rem;
}

.what-div img {
	width: 50vw;
	float: right;
	padding-top: 2rem;
}
  
.what-div .text {
	float: left;
	padding-left: 2rem;
	text-align: left;
	padding-top: 5rem;
}


.text{
	display: flex;
	flex-direction: column;            
	justify-content: space-evenly;
	width: 50vw;
}
.text h2{
	font-weight: 400px;

}
.text h1{
	font-size: 3rem;
	text-align: left;
}

.text p{
	font-size: 1.25rem;
	line-height: 1.3em;
}

.aes{
    border-left: #000 1px solid;
    width: 40vw;
    padding: 2vw;
}

.text hr{
    border: 0.75px solid #000;
    width: 15vw;
}

.text button{
    background-color: black !important;
    color: white;
    width: 12.5rem;
    height: 3rem;
    font-size: 1.25rem;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

}








#purple{
    background-color: #e6e9f6;
    padding: 0 17rem 0 17rem;
}

#purple a{
    background-color: transparent;
    height: 3rem;
    font-size: 2rem;
    border: none;
    color: black;
    border-radius: 5px;
}

#purple .container{
    padding: 0;
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.purple h1{
	font-size: 3rem;
}

.purple p{
	font-size: 1.6rem;
	line-height: 1.3em;
}

.purple img{
	width: 10rem;
}







footer{
	background-color: #000;
	color: #fff;
	width: 100%;
	height: 35vh;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 5%;
}
footer img{
	padding-bottom: 20px;
	width: 200px;
}
footer h2{
	color: blue;
}









#why-front{
	background-color: #e6e9f6;
	padding: 0 10rem 0 10rem;
}

.why-front{
    padding-top: 5vw;
    padding-bottom: 5vw;
}

.why-front h1{
    font-size: 3vw;
}

.why-front p{
	font-size: 1.5vw;
	line-height: 1.3em;
}

.why-front a{
    background-color: transparent;
    height: 3rem;
    font-size: 2rem;
    border: none;
    border-radius: 5px;
    padding-top: 2vw;
    color: black;
}




#contact{
    background-color: #121118;
    color: #fff;
    text-align: center;
    font-size: larger;
    width: 100%;
    height: auto;
    padding: 2vw;
}
.touch-div h1{
    font-size: 6vw;
    padding-top: 10vw;
}
.touch-div h2{
    padding-top: 2vw;
}
.touch-div h2 span{
    color: blue;
}
.touch-div h4{
    padding-top: 2vw;
    padding-bottom: 2vw;
}
form{
    text-align: center;
    justify-content: center;
    justify-items: center;
    width: 100%;
}

#contact .container{
    display: flex;
    text-align: center;
    justify-content: center;
    justify-items: center;
    width: 100%;
}

.formBox{
    position: relative;
    width: 100%;
}

.formBox .row50{
    display: flex;
    gap: 20px; 
}

.inputBox{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 75%;
}

.formBox .row50 .inputBox{
    width: 100%;
}

.inputBox label{
    font-size: 3vh;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: -15px;
    color: white;
    display: block;
    background-color: #121118;
    z-index: 100;
    width: max-content;
    text-align: left;
    margin-left: 4vw;
}

.inputBox input{
    color: white;
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 0.75px solid #fff;
    border-radius: 10px;
    background-color: transparent;
    min-height: 5vw;
}


form textarea{
    color: white;
    width: 70vw;
    resize: none;
    outline: none;
    border: 0.75px solid #fff;
    border-radius: 10px;
    background-color: transparent;
}

.send{
    text-align: right;
    padding-right: 0;
    margin-right: 0;
    padding: 10px;
    background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    width: 12.5rem;
    height: 3rem;
    font-size: 3rem;
    border: none;
    border-radius: 5px;
}

.inputBox button{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.5rem;
}
